html {
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#main-grid {
    margin-top: 12.5px;
    border: solid 1.5px black;
    background-color: white;
}

#main-header {
    text-align: center;
}

h1 {
    text-decoration: underline;
}

#top-bar {
    display: flex;
    justify-content: space-between;
}

#controls {
    display: flex;
    align-items: flex-end;
}

#current-grid-size-header {
    margin: 0;
}

#color-modes-section {
    display: flex;
    justify-content: space-between;
}
#color-mode-controls-div {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    /* float: right; */
}

#color-mode-controls-div > div {
    display: inline-block;
}

#color-modes-buttons-div {
    margin-left: 10px;
}

.grid-row {
    display: flex;
}

.square-hovered-normal {
    background-color: lightcoral;
}

.square-hovered-black {
    background-color: white;
}

#current-color-mode-header {
    text-transform: capitalize;
    /* float: left; */
}
